.card {
  user-select: none;
  cursor: default;
}

.card .thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.thumb_pic {
  border-radius: 500px; /* A high radius to make it round */
  width: 36px;
  height: auto;
}
.card.thumb-nail-image {
  float:left;
}

.card-details-column {
  float:right;
  font-size:12px;
}

@media only screen and (min-width: 900px) {
  .card .meta-data {
    padding: 0;
  }
}
